/* === Common stuff, CSS reset === */
/* =============================== */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
}



html {
    overflow-y: scroll;
}



html, body {
    height: 100%;
}
